* {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  margin: 0;
}

.grey {
  color: grey;
}

.bold {
  font-weight: bold;
}
nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo {
  max-width: 100px;
}

.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hero-img {
  max-width: 395px;
  align-self: center;
}

.hero-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  /* identical to box height, or 40px */

  color: #000000;
  margin-bottom: 16px;
}

.hero-subtitle {
  margin-top: 0;
  max-width: 320px;
}

.card {
  width: 176px;
  font-size: 12px;
}

.card-img {
  width: 100%;
  border-radius: 9px;
}
.card-stat {
  display: flex;
  align-items: center;
}

.star {
  width: 14px;
  margin-right: 2px;
}
